* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family: "montserrat", sans-serif;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: top center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}
.container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem 1rem 1rem;
}
.header input {
  width: 100%;
  max-width: 20rem;
  padding: 0.625rem 0.94rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 1px 10px rgb(0, 0, 0);
  color: #313131;
  border-radius: 1rem 0 1rem 0;
  border-bottom: 0.25rem solid #df8300;
  font-size: 1.25rem;
}
.content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-style: italic;
}
.content .content-container {
  padding: 2rem 3rem;
  border: 3px solid #df8300;
  padding-bottom: 5rem;
  box-shadow: 5px 10px 10px rgb(0, 0, 0);
  border-radius: 1rem;
}

#city-name {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.current {
  padding-top: 1rem;
}
#temp {
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}
#temp .c {
  font-weight: 500;
  font-size: 3rem;
}
#weather {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
